name: Docker build

on:
  push:
    branches: [main]
    paths:
      - "dockerfiles/**"
      - "src/**"
      - "requirements*.txt"
      - "pyproject.toml"
      - ".github/workflows/docker-build.yaml"
  pull_request:
    branches: [main]
    paths:
      - "dockerfiles/**"
      - "src/**"
      - "requirements*.txt"
      - "pyproject.toml"
      - ".github/workflows/docker-build.yaml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build API image
        run: |
          docker build -f dockerfiles/api.dockerfile -t mlops-api:ci .

      - name: Build Train image
        run: |
          docker build -f dockerfiles/train.dockerfile -t mlops-train:ci .
